html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
}

.container:not(:last-child) {
    margin-bottom: 40px;
}

h1 {
    color: green;
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    margin-top: 50px;
}

.menu__list {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 20px;
}

.menu__list li:not(:last-child) {
    margin-right: 20px;
}

.footer {
    color: #fff;
    background-color: #111;
    margin-bottom: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
