body {
    font-family: Arial, sans-serif;
}

.container {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
}
h1 {
    color: green;
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    margin-top: 50px;
}

